
.cardsSection {
    padding: 30px 0;
}

.text {
    width: 85%;
    margin: 20px auto;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--primaryColor);
}

.cards {
    width: 85%;
    margin: auto;
    display: flex;
    gap: 30px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 250px;
    padding: 30px 50px 0 50px;
    background-color: var(--thirdColor);
    color: var(--primaryColor);
}

.linksHeader {
    font-size: 1.2rem;
    font-weight: 700;
}

.link {
    display: block;
    margin: 5px 0;
    color: var(--primaryColor);
}

.contact {
    margin-top: 20px;
}

.contact span {
    font-weight: 700;
}

.copyrightText {
    margin: 10px auto;
}

@media screen and (max-width: 960px) {
    .cards {
        width: 90%;
        flex-wrap: wrap;
        justify-content: center;
    }   
}